<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "style.css" %}/">
    <title> CONTACT PAGE</title>
  </head>
  <body>
    <h2>WELCOME TO PAVAN INSTITUTIONS <br> HERE WE MADE OUR BEST TO YOU LEARNING COURCES </h2>
    <img src="{% static "download.jpg" %}"/>
    <!-- <img  style=align:center;width:50px;height:50px; src="{% static "bird.jpg" %}"/> -->
    <p>Here you are follow us on   :::   |whatsapp||instagram||facebook|</p>
    <h3><b><u>contact us on :::</u></b></h3>
    <h1><u><i><span style=color:orange;>FACEBOOK</span></u> <span style=color:gold;>:::</span> pavan technologies </i></h1>
    <h1><u><i><span style=color:orange;>INSTAGRAM ID </span></u> <span style=color:gold;>:::</span> pavanyadav.54</i></h1>
    <h1><u><i><span style=color:orange;>WHATSAPP</span></u> <span style=color:gold;>:::</span> 6305034029</i></h1>

    <h5>PAVAN GROUP OF INSTUTIONS,<br><span style=font-size:25px;>Vivekananda layout,<br>opp to GRK Trainings,<br>Bengalore,<br>karnataka,<br>560037</span></h5>

  </body>
</html>
